{% extends "./base.html" %}

{% block title %}Friends{% endblock %}

{% block menu %}
<a class="btn btn-outline-primary" href="/logout">Logout</a>
{% endblock %}

{% block content %}
<h3>Friends list</h3>
<h4>Total number of friends {{number_friends}}</h4>
{% if selected_users|length > 0 %}
  <h5>{{selected_users|length}} friends Selected</h5>
{% endif %}

{% if report_exitst %}
    <a href="/report" class="btn btn-primary btn active" style="width: 100%;" role="button" aria-pressed="true">Download latest report</a>
    <br>
  {% endif %}

<form action="/select_friends" method="GET" id="form_search"  onsubmit="add_checkboxes(this)">

  <div class="form-group">
    <label for="search">Search users by name</label>
    <input type="text" class="form-control" id="search"  placeholder="Name to search" name="name_to_search" value="{{ name_to_search if name_to_search|length >0 }}" >
  </div>
  <div class="form-group">
    <button type="submit" style="width: 100%;" class="btn btn-primary" >Search</button>
    <small class="form-text text-muted">The Search does not forget selected</small>
  </div>
  {% if name_to_search|length >0 %}
  <div class="form-group">
    <button type="submit" style="width: 100%;" class="btn btn-primary" onclick="clearSearch(this)">Show All</button>
    <small class="form-text text-muted">The Search all does not forget selected</small>
  </div>
  {% endif %}

</form>


<form action="/compose_message" method="POST">

  

  <div class="form-group">
    <label for="select_limit">Friends per page</label>
    <select class="form-control" id="select_limit" onchange="changeLimit(this)">
      {% for i in  range(50, 500+1, 50)%}
        <option {{ 'selected' if limit_friends_per_page == i}} value="{{i}}">{{i}}</option>
      {% endfor %}
    </select>
  </div>

<table class="table">
<thead>
  <tr>
    <th scope="col">UIID</th>
    <th scope="col">Name</th>
    <th scope="col">Profile Pic</th>
    <th scope="col">Gender</th>
    <th>
      <span style="display: block;">
        <span style="float: left;">Select All (in page)</span>
        <input type="checkbox" id="select_all" class="form-check-input" onClick="toggle_all(this)" style="display: block;">
      </span><br>

      <span style="display: block;">
        <span style="float: left;">Select not contacted (in page)</span>
        <input type="checkbox" id="select_all_new" class="form-check-input" onClick="toggle_new(this)" style="display: block;">
      </span>
    </th>
  </tr>
</thead>
<tbody>
{% for user in friends %}
{% if user.uid in contacted_friends %}
    <tr style="background-color: lightcoral;" class="contected">  
  {% else %}
  <tr style="background-color: lightblue;" class="not_contected">  
  {% endif %}

  <th scope="row">{{user.uid}}</th>
  <td><a href="{{user.url}}">{{user.name}}</a></td>
  <td><img src="{{user.photo}}" style="height:50px;"></td>
  <td>
    {% if user.gender.startswith('male_') %}
      <i class="fa fa-mars" style="font-size:48px;color:blue"></i>
    {% elif user.gender.startswith('female_') %}
      <i class="fa fa-venus" style="font-size:48px;color:purple"></i>
    {% else %}
      <i class="fa fa-genderless" style="font-size:48px;color:red"></i>
    {% endif %}
  </td>
  <td>
  <input type="checkbox" name="selected_users" class="select_users  form-check-input {{ 'pre_selected_users' if user.uid in selected_users }}" value="{{user.uid}}" onClick="onselectedItem()" {{ 'checked' if user.uid in selected_users }}>

  </td>  
  
</tr>
 {% endfor %}
</tbody>
</table>
<button type="submit" id="compose_button" class="btn btn-primary" style="position: fixed;bottom: 100px;left: 45%;right: 45%; {{ 'display:none;' if selected_users|length < 1 }} ">Compose Message</button>
</form>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item {{ 'disabled' if current_page < 2}}">
      <a class="page-link" href="/select_friends?page={{current_page-1}}&limit={{limit_friends_per_page}}" tabindex="-1"  onclick="add_checkboxes(this)">Previous</a>
    </li>
    {% for i in range(1, number_pages+1)%}
      <li class="page-item {{ 'active' if i==current_page}}"><a class="page-link" href="/select_friends?page={{i}}&limit={{limit_friends_per_page}}"  onclick="add_checkboxes(this)">{{i}}</a></li>
    {% endfor %}
    <li class="page-item {{ 'disabled' if current_page == number_pages}}">
      <a class="page-link" href="/select_friends?page={{current_page+1}}&limit={{limit_friends_per_page}}" onclick="add_checkboxes(this)">Next</a>
    </li>
  </ul>
</nav>
 
{% endblock %}

{% block footer %}
  <script>
    function toggle_all(source){
      $("#select_all_new").prop('checked', false);
      $(".select_users").prop('checked', source.checked);
      onselectedItem();
    } 
    function onselectedItem(){      
      if ($(".select_users").is(":checked")){
        $("#compose_button").show();
      }
      else{
        $("#compose_button").hide();
      }
    } 

    function toggle_new(source){
      $("#select_all").prop('checked', false);
      $(".not_contected").find(".select_users").prop('checked', source.checked);
      onselectedItem();
    } 
    function onselectedItem(){      
      if ($(".select_users").is(":checked")){
        $("#compose_button").show();
      }
      else{
        $("#compose_button").hide();
      }
    } 
    function add_checkboxes(source){
      if (source.nodeName=='A'){
        url= source.href;
        $(source).prop("href", url+getSelectedBoxesQueryString()+getDeselectedBoxesQueryString() )
      }
      else{        
        for (selected of getSelectedBoxesArray()){
          $(source).append("<input type='hidden' name='selected_users' value='"+selected+"'>");
        }
        for (unselected of getDeselectedBoxesQueryArray()){
          $(source).append("<input type='hidden' name='unselected_users' value='"+unselected+"'>");
        }
      }
    }
    function getSelectedBoxesQueryString(){
      queryString=""
      $(".select_users:checked").each(function(){
          queryString+="&selected_users="+this.value;
      });
      return queryString;
    }

    function getDeselectedBoxesQueryString(){
      queryString ="";
      $(".pre_selected_users:not(:checked)").each(function(){
          queryString+="&unselected_users="+this.value;
      });
      return queryString;
    }

    function getSelectedBoxesArray(){
      selected = []
      $(".select_users:checked").each(function(){
          selected.push(this.value);
      });
      return selected;
    }

    function getDeselectedBoxesQueryArray(){
      unselected = [];
      $(".pre_selected_users:not(:checked)").each(function(){
          unselected.push(this.value);
      });
      return unselected;
    }

    function changeLimit(select){      
      location.href = "/select_friends?page={{current_page}}&limit="+select.value;
    }

    function clearSearch(source){
      $("#search").val("")
    }
  </script>
{% endblock %}

